* {
    color: #ffffff;
    background-color: #212121;
}

.header-container {
    display: grid;
    grid-gap: 6px;
    grid-template-areas: 'start middle middle middle middle middle middle middle middle middle middle middle middle middle middle middle middle middle middle middle middle end end end help';
    margin: 6px;
}

.header-container-start {
    grid-area: start;
    text-align: center;
    line-height: 33px;
}

.header-container-middle {
    grid-area: middle;
}

.header-container-end {
    grid-area: end;
}

.header-container-help {
    grid-area: help;
}

.body-container {
    display: grid;
    grid-gap: 6px;
    grid-template-rows: auto 32px auto;
    grid-template-areas: 'query' 'query' 'query' 'query' 'query' 'exec' 'result';
    margin: 6px;
}

.body-container-query {
    grid-area: query;
    overflow: auto;
    resize: vertical;
    min-height: 280px;
}

.body-container-exec {
    grid-area: exec;
}

.body-container-result {
    grid-area: result;
}

input {
    padding: 10px;
    border: solid #ffffff 1px;
    border-radius: 4px;
    outline-color: lime;
}

    input[type=text]::selection, #tbQuery::selection {
        background: limegreen;
    }

    input[type=button] {
        cursor: pointer;
        outline: none;
    }

        input[type=button]:hover {
            color: lime;
            border-color: lime;
            font-weight: bold;
        }

.hidden {
    display: none;
}

#imgLoader {
    position: absolute;
    left: 320px;
    top: 100px;
    width: 200px;
}

#tbQuery {
    outline-color: lime;
}

#tbResult {
    border: solid #ffffff 1px;
    border-radius: 6px;
    padding: 10px;
}
